html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  /*text-align: center;*/
}
.navbar-brand {
  display: inline-block;
  float: none;
}

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

/*@media (min-width: 1px) {*/
  /*.navbar-toggle {*/
    /*display: block !important;*/
  /*}*/
/*}*/

/*@media (min-width: 992px) {*/
  /*body {*/
    /*padding: 0 0 0 30%;*/
  /*}*/
  /*.navmenu {*/
    /*padding-top: 0;*/
  /*}*/
  /*.navbar {*/
    /*/!*display: none !important; /!* IE8 fix *!/*/
  /*}*/

/*}*/

/* mmenu overrides */
@media all and (min-width: 750px) {
  /*a[href="#menu"] {*/
  /*display: none;*/
  /*}*/
  .content {
    background: none;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-brand {
    margin-left: 5px;
  }
}
@media all and (max-width: 749px) {
  /*a[href="#menu"] {*/
  /*display: none;*/
  /*}*/
  .content {
    background: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-brand {
    margin-left: 60px;
  }
  .mm-menu {
    z-index: 0;
  }
  .mm-menu.mm-offcanvas {
    display: block;
    position: fixed;
  }
  /*.mm-slideout {*/
    /*-webkit-transform: translate(80%, 0);*/
    /*-moz-transform: translate(80%, 0);*/
    /*-ms-transform: translate(80%, 0);*/
    /*-o-transform: translate(80%, 0);*/
    /*transform: translate(80%, 0);*/
  /*}*/
}

.mm-page {
  min-height: 100vh;
}
/*this keeps menu from flickering on load*/
.before-move {
  display:none;
}


/* jasny overrides */
/*.navmenu-default, .navbar-default .navbar-offcanvas {*/
  /*background-color: transparent;*/
  /*border-color: #e7e7e7;*/
/*}*/
.navmenu, .navbar-offcanvas {
  width: 30%;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
.navmenu-brand {
  padding: 5px 15px;
}

.mm-menu.mm-widescreen {
  margin-top: 51px;
}
